*{
margin: 0;
padding: 0;


}
body{
    background-image: linear-gradient(to right, rgba(35, 85, 170, 0) 0%, rgba(0, 0, 0, 0) 100%), url("https://assets.science.nasa.gov/dynamicimage/assets/science/psd/lunar-science/2023/08/s2-1280.jpg?w=1280&h=720&fit=clip&crop=faces%2Cfocalpoint");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
header .logo{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
header ul li{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}
header ul li:hover{
    color: #ffcc00;
    transform: scale(1.1);
}
.main{
   top: 0%;
   width: 130%;

   
}
.chronos{
    font-size: 100px;
    color: white;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    animation: move 5s linear infinite;
      color: white;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.content h3{
    font-size: 30px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 60%;
    color: white;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.discover{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 30px;
    transition: 0.3s;
    
    
}